<div class="large-6 columns">
  <div class="row">
    <% @weathers.each do |weather|%>
    <div class="large-2 columns small-3"><img src="<%= weather.icon_url %>"/></div>
    <div class="large-10 columns">
      <p><strong><%= weather.city %>, <%= weather.date.strftime("%B %d %Y") %></strong> <%= weather.conditions %>, <%= weather.feel %></p>
      <ul class="inline-list">
        <li><%= link_to "View", weather_path(weather)%></li>
        <li><%= link_to "Add Comment", weather_path(weather)%></li>
      </ul>

      <% weather.reviews.any? %>
        <h6><%= weather.reviews.count %> Comments</h6>
        <% weather.reviews.each do |review|%>

        <div class="row">
          <div class="large-2 columns small-5"><img src="/rating/<%=review.rating%>_stars.png"/></div>
          <div class="large-10 columns"><p><%= review.comment %></p></div>
        </div>
      <%end%>
    </div>



  <hr>
  <%end%>
</div>

  <nav align ="center"><%= paginate @weathers %></nav>
</div>
