<div class="row">
  <%= form_for @weather do |f| %>
  <div class="small-4 small-offset-4 columns">
    <%= f.label :city, 'City' %>
    <%= f.text_field :city %>

    <%= f.label :state, 'State' %>
    <%= f.text_field :state %>

    <%= f.submit 'Create New Weather' %>
  </div>
  <% end %>
</div>


<a href="/weathers">Back</a>
