<h1><%= @weather.city %>, <%= @weather.state %>, <%= @weather.date.strftime("%B %d %Y") %></h1>
<h4><%= @weather.conditions %>, <%= @weather.feel %></h4>

<% if !current_user.nil? && (current_user.admin? || @weather.user == current_user) %>
  <%= link_to 'Delete', @weather, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<%= form_for [@weather, @review] do |r| %>

  <%= r.label :rating, "Rating" %>
  <%= r.select :rating, options_for_select(%w[1 2 3 4 5]) %>

  <%= r.label :comment, "Comment" %>
  <%= r.text_area :comment %>

  <%= r.submit "Submit" %>

<% end %>
<div id="weather_reviews">
  <% @weather.reviews.each do |review| %>
    <%= review.comment %>
    <%= review.rating %>
    <%= link_to "Edit Review", edit_weather_review_path(@weather, review) %>
    <% if !current_user.nil? && (review.user == current_user || current_user.admin?) %>
      <%= link_to 'Delete', [@weather, review] , method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br>

      <%= form_for [review, @vote] do |f| %>
        <%= f.hidden_field :choice, value: "up" %>
        <%= f.submit "Upvote" %>
      <% end %>
      <%= form_for [review, @vote] do |f| %>
        <%= f.hidden_field :choice, value: "down" %>
        <%= f.submit "Downvote" %>
      <% end %>

    <p>+<%= review.upvotes %> | -<%= review.downvotes %></p>

    <% review.votes.each do |vote| %>
      <% if vote.user == current_user %>
        <p>
          <%= link_to 'Delete my vote', [review, vote], method: :delete, data: { confirm: 'Are you sure?' } %> |
          <%= link_to 'Change my vote', [review, vote], method: :put %>
        </p>
      <% end %>
    <% end %>

  <% end %>
</div>

<p><a href="/weathers">Back</a></p>
