<!DOCTYPE html>
<html>
<head>
  <title>Threesacloud</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Threesacloud</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <%= form_tag weathers_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search] %></div>
            <div class="large-4 small-3 columns">
              <%= submit_tag "Search", :name => nil, :class =>"alert button expand" %>
              <% end %>
            </div>
          </div>
        </li>
        <li><a href="/weathers/new" class="button">Add today's weather!</a></li>
      </ul>
      <ul class="right">

        <%- if current_user -%>
          <li><img src="<%= current_user.profile_photo %>" width="30" height="30"></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li class="divider"></li>
          <li><%= link_to 'Edit Profile', edit_user_registration_path(@user)%></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path%></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>
<div class = "row">
  <div class="large-3 columns ">
    <div class="panel">
      <a href="/"><img src="/weather.jpg" ></a>
      <div class="section-container vertical-nav" data-section="" data-options="deep_linking: false; one_up: true">
        <section class="section">
          <h5 class="title"><p>Please take a couple minutes to share weather conditions in your location or/and add a comment about some other conditions</p></h5>
        </section>
        <section class="section">
          <h3 ><p>We love weather talk and appreciate your input!!!</p></h3>
        </section>
      </div>
    </div>
  </div>
  <%- flash.each do |key, value| -%>
  <div class="flash flash-<%= key %>">
    <%= value %>
  </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
  $(function(){
    $(document).foundation();
  });
  <% end %>
  <%= yield :extra_footer %>

</div>

</body>
</html>
